/* Глобальные стили / сброс отступов */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Стили для кнопки */
.button {
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

/* Разметка Page */
.page {
  inline-size: 1200px;
  min-height: 537px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;
  justify-items: center;
}

/* Разметка блока Content */
.content {
  max-height: 537px;
  max-width: 1140;
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  grid-auto-flow: row;
  margin: 133px 30px;
  gap: 27px;
}

/* Разметка блока Result */
.result {
  display: grid;
  grid-auto-flow: row;
  grid-template: 1fr / 1fr;
  padding-top: 76px;
  gap: 19px;
}

/* Стили для блока Video container */
.result__video-container {
  height: 386px;
  width: 711px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Разметка блока Search form */
.search-form {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  grid-auto-flow: row;
  align-items: end;
  justify-items: end;
  gap: 38px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

/* Стили для заголовков Search form*/
.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: normal;
}


/* Стили для поля ввода Search form*/
.search-form__textfield {
  background: transparent;
  min-width: 225px;
  min-height: 27px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 0;
  border-left: 0;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  appearance: none;
}

.search-form__textfield::placeholder {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: #fff / 0.5;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Стили для чекбоксов Search form*/
.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  grid-auto-flow: row;
  gap: 15px;
  padding-bottom: 6px;
  padding-left: 5px;
}

.search-form__checkbox-list .search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::before {
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  display: block;
}

/* Стили для кнопки search form*/
.search-form__submit-button {
  min-width: 194px;
  min-height: 34px;
  margin: 0 0 1px 1px;
}

/* Стили для блока Content details*/
.content__details {
  display: grid;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 3px;
}

/* Стили для заголовка Content details*/
.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 71px;
  padding-top: 2px;
  padding-left: 3px;
}

.content__accent {
  color: #545050;
}

/* Стили для блока Content list*/
.content__list {
  position: relative;
  min-width: 399px;
  height: 298px;
  overflow-y: auto;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
}

.content__video-card-thumbnail {
  min-width: 194px;
  max-height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  padding: 0 0 30px 0;
  min-width: 398px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin: 2px;
}

.more-button {
  min-width: 399px;
  min-height: 34px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover .content__video-card-description-container {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
